altair
appdirs
attrs
bcrypt
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cramjam
cycler
et_xmlfile
fastparquet
fonttools
fsspec
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
nba_api
nfl_data_py
nose
nose-parameterized
numpy
openpyxl
packaging
pandas
patsy
pillow
plotly
protobuf
pyarrow
pydeck
Pygments
pyparsing
pysbr
python-dateutil
pytz
firebase-admin
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
SQLAlchemy
statsmodels
streamlit
tenacity
threadpoolctl
toml
tornado 
typing_extensions 
tzdata 
urllib3 
nfl_data_py 
pmdarima 
joblib 
pytz 
matplotlib 
plotly 
CBBpy 
PyMuPDF 
html2text 
xgboost 
shap 
ipython 
